node-linker=hoisted
strict-peer-dependencies=false
auto-install-peers=true
ignore-workspace-root-check=true
legacy-peer-deps=true
shamefully-hoist=true
resolve-peers-from-workspace-root=true
dedupe-peer-dependents=true
public-hoist-pattern[]=*magic*
optional-dependencies=false
omit[]=optional
omit[]=dev
public-hoist-pattern[]=*trezor*
public-hoist-pattern[]=*usb*
unsafe-perm=true
ignore-engines=true
node-gyp-force-python=python3
python=/usr/bin/python3
build-from-source=true
sqlite3_binary_host_mirror=https://mapbox-node-binary.s3.amazonaws.com
sqlite3_binary_site=https://mapbox-node-binary.s3.amazonaws.com